<!DOCTYPE html>

<head>
    <title>RSS de SA de CV</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <%- include('../partials/topbar', { active: 'dashboard' , user: user, userId: userId }) %>
        <div class="main">
            <div class="container" id="contmain" style="display: flex; gap: 2rem;">
                <div style="flex:1;">
                    <h2>Bienvenido, <%= user %>
                    </h2>
                    <p>Selecciona un grupo para ver su información.</p>
                    <form action="/groups/create" method="get">
                        <button type="submit">Crear grupo</button>
                    </form>
                </div>
            </div>

            <h3>Mis Grupos</h3>
            <div class="group-list">
                <% if (groups && groups.length> 0) { %>
                    <% groups.forEach(function(group) { %>
                        <div class="container">
                            <a class="group-link" href="/groups/<%= group.GroupID %>">
                                <%= group.Gname %>
                            </a>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <div>No perteneces a ningún grupo. <a href="/groups/create"><button>Crear uno
                                            nuevo.</button></a></div>
                                <% } %>
            </div>
        </div>
</body>
<%- include('../partials/footer', { active: 'dashboard' }) %>