<!DOCTYPE html>
<html>

<head>
    <title>Grupo <%= group.Gname %>
    </title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <%- include('../partials/topbar', { user: user, userId: userId}) %>
        <div class="main">
            <div class="container">
                <h3>Grupo: <%= group.Gname %>
                        </h2>
                        <grid style="justify-content: center;">
                            <form action="/groups/<%= group.GroupID %>/game" method="get">
                                <button type="submit">Jugar</button>
                            </form>
                            <% if (userRole && userRole.URole==="admin" ) {%>
                                <form method="POST" action="/groups/<%= group.GroupID %>/delete"
                                    onsubmit="return confirm('¿Seguro que deseas borrar este grupo? Esta acción no se puede deshacer.');"
                                    style="margin-bottom: 2rem;">
                                    <button class="dangerBtn" type="submit">Borrar
                                        grupo</button>
                                    <%} else {%>
                                        <form method="POST" action="/groups/<%= group.GroupID %>/rmvuser/<%= userId%>"
                                            onsubmit="return confirm('¿Seguro que abandonar este grupo? Esta acción no se puede deshacer.');"
                                            style="margin-bottom: 2rem;">
                                            <button class="dangerBtn" type="submit">Abandonar grupo</button>
                                            <%}%>
                                        </form>
                        </grid>
            </div>
            <div class="container">
                <% if (userRole && userRole.URole==="admin" ) {%>
                    <h3>Registrar usuario</h3>
                    <% if (error) { %>
                        <div class="error">
                            <%= error %>
                        </div>
                        <% } %>
                            <form id="adduser-form" method="POST" action="/groups/<%= group.GroupID %>/adduser">
                                <label for="userId">ID de usuario:</label>
                                <grid style="justify-content: center;">
                                    <input type="number" name="userId" id="userId" required>
                                    <button type="submit">Agregar usuario</button>
                                </grid>
                            </form>
                            <% } %>
                                <br>
                                <div class="table-scroll-container">
                                    <table>
                                        <% if (userRole && userRole.URole==="admin" ) {%>
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Score</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <% members.forEach(function(m) { %>
                                                <tbody>
                                                    <tr data-idx=>
                                                        <td>
                                                            <%=m.UserID %>
                                                        </td>
                                                        <td>
                                                            <%=m.Uname%>
                                                        </td>
                                                        <td>
                                                            <%= (m.UMaxKills !==undefined && m.UMaxKills !==null) ?
                                                                m.UMaxKills : 0 %>
                                                        </td>
                                                        <td>
                                                            <% if (m.UStatus===1 ) {%>Activo<%} else {%>Inactivo<% }%>
                                                        </td>
                                                        <td>
                                                            <form
                                                                action=" /groups/<%=group.GroupID %>/rmvuser/<%= m.UserID %>"
                                                                method="POST"><button>Eliminar</button></form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <% }); %>
                                                    <%} else {%>
                                                        <thead>
                                                            <tr>
                                                                <th>Nombre</th>
                                                                <th>Score</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <% members.forEach(function(m) { %>
                                                            <tbody>
                                                                <tr data-idx=>
                                                                    <td>
                                                                        <%=m.Uname%>
                                                                    </td>
                                                                    <td>
                                                                        <%= (m.UMaxKills !==undefined && m.UMaxKills
                                                                            !==null) ? m.UMaxKills : 0 %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (m.UStatus===1 ) {%>Activo<%} else {%>
                                                                                Inactivo<% }%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <% }); %>
                                                                <% }%>
                                    </table>
                                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer', { active: 'dashboard' }) %>